<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Change</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="layout">
     {% include "sidebar.html" %}


    <div class="main-content">

        <div class="form-container">

            <h1>Add Change Request</h1>

            <form method="POST">

                <label>Project</label>

                <select name="project_id" required>

                    {% for project in projects %}

                        <option value="{{ project['id'] }}">
                            {{ project['name'] }}
                        </option>

                    {% endfor %}

                </select>


                <label>Change Title</label>

                <input
                    type="text"
                    name="title"
                    required
                >


                <label>Description</label>

                <textarea
                    name="description"
                    rows="4"
                    required
                ></textarea>


                <label>Impact</label>

                <select name="impact" required>

                    <option value="Low">Low</option>

                    <option value="Medium">Medium</option>

                    <option value="High">High</option>

                </select>


                <label>Requested By</label>

                <input
                    type="text"
                    name="requested_by"
                    required
                >


                <label>Approval Status</label>

                <select name="approval_status" required>

                    <option value="Pending">Pending</option>

                    <option value="Approved">Approved</option>

                    <option value="Rejected">Rejected</option>

                </select>


                <label>Implementation Plan</label>

                <textarea
                    name="implementation_plan"
                    rows="4"
                    required
                ></textarea>


                <button type="submit" class="btn-primary">
                    Save Change Request
                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>