<!DOCTYPE html>
<html>
<head>
    <title>Add Project</title>
</head>
<body>

<h1>Add Project</h1>

<p>
    Logged in as:
    <strong>{{ session.get("username", "User") }}</strong>
</p>

<hr>

<a href="/">Dashboard</a>

<hr>

<form method="POST">

    <input type="text" name="name" placeholder="Project Name" required>

    <br><br>

    <textarea name="description" placeholder="Description"></textarea>

    <br><br>

    <select name="status">

        <option value="Planning">Planning</option>

        <option value="In Progress">In Progress</option>

        <option value="Completed">Completed</option>

    </select>

    <br><br>

    <input type="date" name="start_date">

    <br><br>

    <input type="date" name="end_date">

    <br><br>

    <button type="submit">Create Project</button>

</form>

</body>
</html>