<!DOCTYPE html>
<html>
<head>
    <title>Add Assumption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Add Assumption</h2>

    <form method="POST">

        <label>Project</label>
        <select name="project_id" required>
            {% for project in projects %}
            <option value="{{ project.id }}">
                {{ project.name }}
            </option>
            {% endfor %}
        </select>

        <br><br>

        <label>Title</label>
        <input type="text"
               name="title"
               placeholder="Title"
               required>

        <br><br>

        <label>Description</label>
        <textarea name="description"
                  placeholder="Description"></textarea>

        <br><br>

        <label>Owner</label>
        <input type="text"
               name="owner"
               placeholder="Owner">

        <br><br>

        <label>Status</label>
        <select name="status">
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
        </select>

        <br><br>

        <button type="submit">
            Save Assumption
        </button>

    </form>

    <br>

    <a href="/raid">Back to RAID Log</a>

</div>

</body>
</html>