<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approval Workflows</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Approval Workflows</h1>

    <a href="/add-approval" class="btn">+ New Approval</a>

    <br><br>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Project ID</th>
                <th>Item Type</th>
                <th>Item ID</th>
                <th>Submitted By</th>
                <th>Approver</th>
                <th>Status</th>
                <th>Submitted Date</th>
                <th>Decision Date</th>
                <th>Comments</th>
            </tr>
        </thead>

        <tbody>
            {% for approval in approvals %}
            <tr>
                <td>{{ approval[0] }}</td>
                <td>{{ approval[1] }}</td>
                <td>{{ approval[2] }}</td>
                <td>{{ approval[3] }}</td>
                <td>{{ approval[4] }}</td>
                <td>{{ approval[5] }}</td>
                <td>{{ approval[6] }}</td>
                <td>{{ approval[7] }}</td>
                <td>{{ approval[8] }}</td>
                <td>{{ approval[9] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>