<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="container">

    <div class="sidebar">

        <h1>AI PM Tracker</h1>

        <a href="/login">Login</a>
        <a href="/register">Register</a>

    </div>

    <div class="main-content">

        <div class="form-card">

            <h2>Create Account</h2>

            <p class="page-subtitle">
                Create your account to access projects, governance, portfolio and AI features.
            </p>

            {% if error %}

                <div class="alert-box alert-danger">

                    {{ error }}

                </div>

            {% endif %}

            <form method="POST">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required
                >

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Optional"
                >

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

                <small>
                    Use at least 8 characters.
                </small>

                <br><br>

                <button
                    type="submit"
                    class="btn-primary"
                >
                    Register
                </button>

            </form>

            <p style="margin-top:20px;">

                Already have an account?

                <a href="/login">
                    Login
                </a>

            </p>

        </div>

    </div>

</div>

</body>
</html>