<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page-layout">

    <div class="sidebar">
        <h2>AI PM</h2>

        <a href="/">Dashboard</a>
        <a href="/tasks">Tasks</a>
        <a href="/add-task">Add Task</a>
        <a href="/add-project">Add Project</a>
        <a href="/register">Register</a>
    </div>

    <div class="main-content">

        <h1>Create Account</h1>
        {% if error %}
    <p style="color: red; font-weight: bold;">
        {{ error }}
    </p>
{% endif %}

        <form method="POST" class="project-card">

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <br><br>

            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>

            <br><br>

            <button type="submit">
                Register
            </button>

        </form>

    </div>

</div>

</body>
</html>